{% extends 'generator/layout.html' %}
    {% block content %}
<div class="col-md-4 offset-md-4">
    <form action="password" class="card card-body p-3">
        <label for="length">Select the length of your password</label>
        <select name="length" id="length">
            <option value="6">6 Characters</option>
            <option value="7">7 characters</option>
            <option value="8">8 characters</option>
            <option value="9">9 characters</option>
            <option value="10">10 characters</option>
            <option value="11">11 characters</option>
            <option value="12">12 characters</option>
            <option value="13">13 characters</option>
            <option value="14">14 characters</option>
        </select>
        <div class="btn-group mt-1" role="group" aria-label="Basic checkbox toggle button-group">
            <input type="checkbox" name="uppercase" id="uppercase" class="btn-check" autocomplete="off">
            <label for="uppercase" class="btn">uppercase</label>

            
            <input type="checkbox" name="special" id="special" class="btn-check" autocomplete="off">
            <label for="special" class="btn">Special characters</label>

            <input type="checkbox" name="numbers" id="numbers" class="btn-check" autocomplete="off">
            <label for="numbers" class="btn">Numbers</label>

        </div>
        <div class="btn-group mt-1" role="group" aria-label="Basic checkbox toggle button group">
            <button class="btn btn-success form-control">Generate password</button>
        </div>
    </form>
</div>
            
        
        

        
    {% endblock %}
